.colorMain{
    color:#ED6923;
}
.BackgroundMain{
    background-color:#ED6923;
}
.colorSecond{
    color:#F28F5C;
}
.BackgroundSecond{
    background-color:#F28F5C;
}
.colorThird{
    color:#FBE1D3;
}
.backgroundThird{
    background-color: #FBE1D3;
}
.colorLight{
    color: #FCEFE8;
}
.backgroundLight{
    background-color: #FCEFE8;
}