<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <form method="POST" action="{% url 'product-update' product.id%}">
        {% csrf_token%}
        {{form.as_p}}
        <button type = "submit">Save</button>
    </form>


</head>
<body>
<!--    <div class="container">-->
<!--        <h1>Update Product</h1>-->
<!--        <form method="POST" action="">-->
<!--            {% csrf_token %}-->

<!--            <label for="name">Product Name:</label>-->
<!--            <input type="text" id="name" name="name" value="{{ product.name }}" required>-->

<!--            <label for="description">Description:</label>-->
<!--            <textarea id="description" name="description" required>{{ product.description }}</textarea>-->

<!--            <label for="price">Price:</label>-->
<!--            <input type="number" id="price" name="price" step="0.01" value="{{ product.price }}" required>-->

<!--            <label for="image">Product Image:</label>-->
<!--            <input type="file" id="image" name="image">-->

<!--            <button type="submit">Update Product</button>-->
<!--        </form>-->
<!--        <a href="/">Back to Product List</a>-->
<!--    </div>-->
</body>
</html>
